version: '3.8'

services:
  jenkins:
    build: .
    container_name: jenkins-python
    restart: always
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock  # optional, for docker builds inside Jenkins

volumes:
  jenkins_home:
